.center {
    text-align: center;
    margin: auto;
}

.button {
    background-color: rgb(233, 173, 228);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}

.bottom {
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.left {
    float: left;
}

.right {
    float: right;
}